{% sw_extends '@Storefront/storefront/layout/meta.html.twig' %}

{% block layout_head_title %}
    <title itemprop="name">
        {% block layout_head_title_inner %}
            {% set metaTitle = page.metaInformation.metaTitle|striptags|trim %}
            {% set basicConfig = config('core.basicInformation') %}
            {% if metaTitle %}
                {{- metaTitle -}}
            {% else %}
                {{- basicConfig.shopName -}}
            {% endif %}
        {% endblock %}
    </title>
{% endblock %}

{% block layout_head_javascript_hmr_mode %}
    {{ parent() }}

    {% if page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\ApplePayMethodData::PAYPAL_APPLE_PAY_FIELD_DATA_EXTENSION_ID')] %}
        <script src="https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js"></script>
    {% endif %}

    {% if page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\GooglePayMethodData::PAYPAL_GOOGLE_PAY_FIELD_DATA_EXTENSION_ID')] %}
        <script src="https://pay.google.com/gp/p/js/pay.js"></script>
    {% endif %}
{% endblock %}