/* Colors */
$brand: #ff3800;
$white: #fff;
$black: #000;

/* grays */
$gray50: #f7f7f7;
$gray100: #f3f3f3;
$gray200: #e6e6e6;
$gray300: #dadada;
$gray400: #d1d1d1;
$gray500: #b6b6b6;
$gray600: #6b6b6b;
$gray700: #595959;
$gray800: #4f4f4f;
$gray900: #3b3b3b;
$gray950: #303030;

/* Red grays */
$red-gray50: #f8f7f7;
$red-gray100: #f3f2f1;
$red-gray200: #eae8e7;
$red-gray300: #dbd8d6;
$red-gray400: #d2cecb;
$red-gray500: #aba29c;
$red-gray600: #726964;
$red-gray700: #625a56;
$red-gray800: #524b47;
$red-gray900: #3f3a37;
$red-gray950: #33302e;

/* Semantic */
$success-50: #f2f9e8;
$success-100: #d7ecb8;
$success-200: #c4e295;
$success-300: #a9d565;
$success-400: #98cd47;
$success-500: #7ec119;
$success-600: #73b017;
$success-700: #598912;
$success-800: #456a0e;
$success-900: #35510b;
$info-50: #e6f7fd;
$info-100: #b0e6f8;
$info-200: #8adaf4;
$info-300: #54c9f0;
$info-400: #33beed;
$info-500: #00aee8;
$info-600: #009ed3;
$info-700: #007ca5;
$info-800: #006080;
$info-900: #004961;
$warning-50: #feeaee;
$warning-100: #fcbfca;
$warning-200: #faa0b0;
$warning-300: #f8748c;
$warning-400: #f65976;
$warning-500: #f43054;
$warning-600: #de2c4c;
$warning-700: #ad223c;
$warning-800: #861a2e;
$warning-900: #661423;
$transparent: #0000;
$yellow-50: #fefaea;
$yellow-100: #fcf1bf;
$yellow-200: #faeba0;
$yellow-300: #f8e274;
$yellow-400: #f6db59;
$yellow-500: #f4d330;
$yellow-600: #dec02c;
$yellow-700: #ad9521;
$yellow-800: #867419;
$yellow-900: #665814;

/* Gradients */
$gradient-blue: linear-gradient(159deg, #6e777c 15.18%, #243742 86.93%);
$gradient-gray: linear-gradient(0deg, #454545 0%, #878989 100%);
$gradient-green: linear-gradient(0deg, #3c4537 0%, #95998d 100%);
$gradient-red: linear-gradient(0deg, #524145 0%, #ac9c99 100%);
