/* Header */

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $white;
    box-shadow: $shadow-sm;
    padding: $spacing-2 0;
    transition: all 0.3s ease;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}