/* Body */
html {
  scroll-behavior: smooth;
  font-family: $sw-font-family-base;
  line-height: $line-height-large;
}

body {
  background-color: $sw-color-white;
}

.layout-container {
  @include LayoutContainer;
}

.container {
  max-width: $container-width;
}